body { 
    background: url("../img/html-background-1.jpg") no-repeat center center;
    background-size: cover;
}

a {
    color: gray;
}

a:hover {
    text-decoration: none;
    color: #3498db;
}

a:visited {
    text-decoration: none;
}
 
/* #### User #### */
.user-header {
    padding: 20px;
    position: relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.8);
    margin: 0 auto;
    text-align: center;
}

.userpic {
	height: 200px;
	width: 200px;
	clear: both;
	margin: 20px auto;
	display: block;
	border-radius: 100%;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	position: relative; 
}

.userpic .userpicimg {
	height: auto;
	width: 100%;
	border-radius: 100%;
}

/* #### Social #### */
.social-link  {
    color: #fff;
}

.twitter:hover {
    color: #1da1f2;
    text-decoration: none;
}

.linkedin:hover {
    color: #0077b5;
    text-decoration: none;
}

.about-me:hover {
    color: #00a98f;
    text-decoration: none;
}

.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-avatar {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-linkedin {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.sprite-twitter {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

/* #### Custom #### */
.date {
    padding-bottom: 10px;
}

.card {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.description {
    border-top: 1px solid gray;
    border-top-style: dotted;
}

.subtitle {
    min-height: 20px;
}

.footer {
    padding: 20px 0;
    background-color: rgb(41, 43, 44);
    color: white;
}

.background-salmon {
    background-color: #ffccb3;
}

.border-top-light-blue {
    border-top: 4px solid #3498db !important;
}