.html-img-background {
    background: url("../img/html-background-1.jpg") no-repeat center center;
}

.content {
    padding: 20px;
    position: relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}