body { background: url("../img/html-background-1.jpg") no-repeat center center; }
 
.html-img-background {
    padding: 20px;
    position: relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}

.date {
    padding-bottom: 10px;
}

.card {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.card .no-border {
    border: none;
}

/*
div[class^="col-"] {
    margin: 10px;
    padding: 10px;
}
*/

.footer {
    padding: 20px 0;
    background-color: rgb(41, 43, 44);
    color: white;
}

.social-link  {
    color: #fff;
}

.twitter:hover {
    color: #1da1f2;
    text-decoration: none;
}

.linkedin:hover {
    color: #0077b5;
    text-decoration: none;
}

.column { margin-bottom: 20px; }